<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>BookManageSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<servlet-class>bms.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>CheckServlet</servlet-name>
  	<servlet-class>bms.servlet.CheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CheckServlet</servlet-name>
  	<url-pattern>/CheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>RegisterServlet</servlet-name>
  	<servlet-class>bms.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RegisterServlet</servlet-name>
  	<url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>DisplayServlet</servlet-name>
  	<servlet-class>bms.servlet.DisplayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DisplayServlet</servlet-name>
  	<url-pattern>/DisplayServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>CollectServlet</servlet-name>
  	<servlet-class>bms.servlet.CollectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CollectServlet</servlet-name>
  	<url-pattern>/CollectServlet</url-pattern>
  </servlet-mapping>
    <servlet>
  	<servlet-name>QueryServlet</servlet-name>
  	<servlet-class>bms.servlet.QueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>QueryServlet</servlet-name>
  	<url-pattern>/QueryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>UpdateEmailServlet</servlet-name>
  	<servlet-class>bms.servlet.UpdateEmailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UpdateEmailServlet</servlet-name>
  	<url-pattern>/UpdateEmailServlet</url-pattern>
  </servlet-mapping>
  <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>bms.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
      <filter-name>LoginFilter</filter-name>
      <url-pattern>/index.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
      <filter-name>LoginFilter</filter-name>
      <url-pattern>/user.jsp</url-pattern>
  </filter-mapping>
</web-app>